DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=spice_ledger
PORT=50051
LOG_LEVEL=debug

JWT_SECRET=
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h

BASIC_AUTH_USER=
BASIC_AUTH_PASS=
