# Binaries
/server
/main
/app
/spice_backend
*.exe
*.test
*.out

# Environment
.env
.env.*

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Redis
dump.rdb

# Directory for artifacts
.gemini/